@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #293462;
    --color-red: #F24C4C;
    --color-orange: #EC9B3B;
    --color-yellow: #F7D716;
    --color-black: #000;
    --color-while: #fff;
    --smooth: all .3s ease-in;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

html {
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#onload__event {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    transition: var(--smooth);
    -webkit-transition: var(--smooth);
    -moz-transition: var(--smooth);
    -ms-transition: var(--smooth);
    -o-transition: var(--smooth);
}

.event--load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#main {
    display: none;
    overflow: hidden;
    background-color: var(--color-blue);
    transition: var(--smooth);
    -webkit-transition: var(--smooth);
    -moz-transition: var(--smooth);
    -ms-transition: var(--smooth);
    -o-transition: var(--smooth);
}

.container {
    max-width: 75rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    flex: 1;
}

.slide {
    position: fixed;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    right: 2rem;
    bottom: 1rem;
    transform: translateY(100px);
    background-color: var(--color-red);
    z-index: 11;
    transition: all ease .3s;
}

.slide i {
    opacity: 1;
    padding: 1rem;
    color: var(--color-while);
    font-size: 3rem;
}

.slide i:hover {
    color: var(--color-blue);
}

/* === Overlay === */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: none;
}

#overlay.show {
    display: initial;
}

.dec-1,
.dec-2,
.dec-3,
.dec-4,
.dec-5 {
    position: absolute;
    z-index: -1;
}

.dec-1 {
    width: 30rem;
    height: 30rem;
    right: 0;
    bottom: 0;
    transform: translateX(60%) rotate(90deg);
}

.dec-2 {
    width: 15rem;
    height: 15rem;
    left: 0;
    bottom: 0;
    transform: translateX(10%);
}

.dec-3 {
    width: 10rem;
    height: 10rem;
    left: 0;
    top: 30%;
    transform: translateX(100%) rotate(100deg);
}

.dec-4 {
    width: 15rem;
    height: 15rem;
    left: 0;
    bottom: 0;
    transform: rotate(-90deg) translateY(-50%);
}

.dec-5 {
    width: 30rem;
    height: 30rem;
    left: 50%;
    top: 20%;
    bottom: 0;
    transform: rotate(-50deg) translateY(-50%);
    opacity: 0.5;
}







:root {
    --color-blue: #293462;
    --color-red: #F24C4C;
    --color-orange: #EC9B3B;
    --color-yellow: #F7D716;
    --color-black: #000;
    --color-while: #fff;
    --smooth: all .3s ease-in;
}

/* Menu */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    z-index: 10;
    transition: all 0.3s ease-in;
}

header.sticky {
    height: 5rem;
    background: var(--color-blue);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    padding: 1rem;
    padding-left: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    z-index: 3;

}

header li {
    padding: 1.5rem 1rem;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

header a {
    font-size: 1.3rem;
    color: #fff;
}

header a:hover {
    transition: all .3s ease-in;
    text-shadow: 1px 1px 1px #fff;
}

.bart-btn {
    display: none;
}

@media (max-width: 75rem) {
    .bart-btn {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: var(--smooth);
        z-index: 6;
        top: 0px;
        right: 0px;
    }

    .btn {
        width: 45px;
        height: 6px;
        background-color: var(--color-while);
        border-radius: 5px;
        transition: var(--smooth);
        position: absolute;
    }

    .btn:before,
    .btn:after {
        content: "";
        position: absolute;
        width: 45px;
        height: 6px;
        background-color: #fff;
        border-radius: 5px;
        transition: var(--smooth);
    }

    .btn:before {
        transform: translateY(-12px);
    }

    .btn:after {
        transform: translateY(12px);
    }

    /* button animation */
    .open .btn {
        transform: translateX(-100%);
        background: transparent;
    }

    .open .btn:before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .open .btn:after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    .logo {
        width: 30%;
        margin-top: 1rem;
        text-align: center;
        padding: 0;
    }

    header ul {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-120%);
        bottom: 0;
        height: 100vh;
        padding-top: 4rem;
        width: 30%;
        text-align: center;
        z-index: 1;
        transition: var(--smooth);
        background-color: var(--color-blue);
    }

    header ul.navbar-open {
        transition: var(--smooth);
        transform: translateX(0);
    }

    header li {
        text-align: center;
        display: block;

    }

    header a {
        padding: 1rem;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }
}

/* home */
.home {
    padding-bottom: 1.7rem;
    width: 100%;
    background: url(../img/backgroud.png) no-repeat center center;
    background-size: cover;
}

.home-row {
    display: flex;
    padding-top: 6rem;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.home-column:nth-child(1) {
    width: 45%;
}

.home-heading {
    font-size: 3.6rem;
    color: var(--color-yellow);
}

.home-heading span:nth-child(1) {
    display: block;
}

.home-heading span:nth-child(3) {
    color: #fff;
}

.home-text {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
}

.download {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    border: 3px solid var(--color-red);
    border-radius: 1rem;
    color: var(--color-red);
    font-size: 1.5rem;
    transition: var(--smooth);
}

.download:hover {
    background-color: var(--color-red);
    color: var(--color-blue);
}

.home-column img {
    border-radius: 50%;
    box-shadow: 1px 3px 3px var(--color-blue);
}

/* About */
.about,
.skill,
.project,
.contact {
    margin-top: 2rem;
    margin-bottom: 1rem;
    z-index: 3;
    overflow: hidden;
    position: relative;
}

.title {
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 5rem;
    height: 0.2rem;
    transform: translateX(-50%);
    background-color: var(--color-yellow);
}

.about .row {
    margin-top: 5rem;
    flex-direction: column;
}


.content {
    padding: 1rem 0;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    text-align: center;
    background-color: black;
}

.about .text {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 1rem;
    color: #fff;
}


/* SKILL */
.skill .content {
    padding: 2rem;
    padding-top: 0;
}

.skill .row {
    justify-content: space-between;
}

.skill .column:nth-child(1) {
    flex: 1;
}

.skill .column:nth-child(2) {
    flex: 2;
    text-align: center;
}

.skill .text {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: var(--color-while);
    font-weight: bold;
    text-transform: uppercase;
}

.skill .load-skill {
    position: relative;
    left: 10%;
    top: 60%;
    width: 20rem;
    height: 1rem;
    background: var(--color-while);
    border-radius: 1rem;
}

.load-skill span {
    position: absolute;
    right: -3rem;
    top: -0.4rem;
    color: var(--color-while);
    font-size: 1.2rem;
    font-weight: bold;
}

.load-30 {
    height: 100%;
    width: 30%;
    background: var(--color-orange);
    border-radius: 1rem;
}

.load-40 {
    height: 100%;
    width: 40%;
    background: var(--color-orange);
    border-radius: 1rem;
}

.load-50 {
    height: 100%;
    width: 50%;
    background: var(--color-orange);
    border-radius: 1rem;
}

.load-60 {
    height: 100%;
    width: 60%;
    background: var(--color-orange);
    border-radius: 1rem;
}

.load-70 {
    height: 100%;
    width: 70%;
    background: var(--color-orange);
    border-radius: 1rem;
}

.icon-code {
    margin-top: 2rem;
}

.icon-code .row {
    width: 70%;
    margin: auto;
    justify-content: center !important;
}

.icon-code .column {
    text-align: center;
}

i {
    font-size: 10rem;
    opacity: 0.5;
    cursor: pointer;
    transition: var(--smooth);
}

i:hover {
    color: var(--color-orange);
    opacity: 1;
    transition: var(--smooth);
}

/* PROJECT */
.project .row {
    margin-top: 3rem;
}

.project .column {
    flex: 1;
    margin: 20px;
}

.project .box {
    width: 100%;
    margin: auto;
    border-radius: 2rem;
    height: 100%;
    overflow: hidden;
    padding: 2rem;
    background-color: var(--color-black);
}

.project a {
    display: block;
}

.project__img {
    width: 100%;
    height: 265px;
    border-radius: 2rem;
    object-fit: cover;
}

/* Contact */
.contact {
    margin-bottom: 2rem;
}

.contact .row {
    margin-top: 3rem;
}

form {
    width: 100%;
    margin: auto;
    z-index: 5;
}

label {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-while);
    display: block;
}

input,
textarea {
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--color-red);
    background: none;
    border-radius: 1rem;
    color: var(--color-red);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    background-color: var(--color-red);
    color: var(--color-while);
    border: 2px solid var(--color-red);
    padding: 0.5rem 1rem;
}

input::placeholder,
textarea::placeholder {
    opacity: .5;
    color: var(--color-while);
}

textarea {
    height: 10rem;
    resize: none;
}

.send {
    background: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 50%;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}

/* =========== FOOTER =============== */
footer {
    height: 4rem;
    align-items: center;
    text-align: center;
    background-color: var(--color-red);
}

footer .text {
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
    color: var(--color-while);
    padding-top: 1rem;
}




/* Responsive */

/* ===== DESKTOP ======= */
@media(min-width: 1025px) {

    /* HEADER */
    /* menu button */
    .menu-btn {
        display: none;
    }

}

/* ===== TAPLET ====== */
@media (max-width: 1024px) {

    /* menu button */
    .menu-btn {
        display: block;
    }
}

/* ===== TAPLET ====== */
@media (max-width: 992px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .content {
        width: 100%;
        text-align: center;
    }

    /* HEADER OK*/

    /* HOME OK*/
    .home-column {
        width: 100% !important;
        text-align: center;
    }

    .home-column img {
        text-align: center;
        border-radius: 50%;
        width: 320px;
        height: 320px;
        border: 5px solid var(--color-yellow);
        object-fit: cover;
    }

    .home-heading {
        font-size: 2.5rem;
    }

    /* ABOUT Khá ổn*/

    /* SKILL */
    .skill .text,
    .load-skill span {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .icon-code .column {
        text-align: left;
    }

    /* project */
    .project .row {
        flex-direction: column;
    }

    .project .column {
        margin: 0;
        margin-top: 20px;
    }

    .project .column+.column {
        margin: 40px 0 0 0;
        width: 100%;
    }

    .project__img {
        height: 400px;
    }
}

@media (max-width: 768px) {
    header ul {
        width: 45%;
    }

    .skill .row {
        flex-direction: column;
    }

    .skill .column {
        width: 100% !important;
    }

    .load-skill {
        width: 90% !important;
        margin: auto;
        left: 0 !important;
    }

    .load-skill span {
        display: none;
    }

    ;

    .icon-code .column {
        text-align: center;
    }

    .icon-code i {
        width: 100%;
        margin: auto;
        font-size: 10rem;
    }

    .contact .row {
        flex-direction: column;
    }

    .contact .column {
        margin: 0 20px;
    }
}